@import '../../styles/settings.scss';

.timer {
display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

Button {
  margin-top: $base-size;
  display: flex;
  justify-content: center;
  font-size: $base-size * 2;
}