@import '../../styles/settings.scss';

.timer {
display: flex;
flex-wrap: wrap;
flex-direction: column;
width: 400px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

Button {
  margin-top: $base-size;
  display: flex;
  justify-content: center;
  font-size: $base-size * 2;
}

.display_ {
  justify-content: left;
}